.panel {
    position: fixed;
    width: 300px;
    height: 100%;
    top: 0;
    left: 0;
    background-color: #f1f1f1;
    overflow-y: auto; /* Allows scrolling for overflow content */
    box-shadow: 2px 0px 5px rgba(0, 0, 0, 0.5);
    padding: 20px;
}

.hide-btn {
    background-color: #d9534f;
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
}

.hide-btn:hover {
    background-color: #c9302c;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
}

th, td {
    border: 1px solid black;
    padding: 10px;
    text-align: left;
}

th {
    background-color: #f2f2f2;
}

select {
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
}

button {
    padding: 5px 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}
